:root {
	--brand-colour1: #6860f8c4;
	--brand-colour2: #a5a0f8;
	--brand-colour3: #6c63ff;
	--brand-colour4: #6b6a6a;
	--brand-colour5: #c0c0c0;
	--background-colour-primary: #fcfcff;
	--background-colour-secondary: white;
}

body {
	background-color: var(--background-colour-primary);
}

h1 {
	color: var(--brand-colour1);
}

h2 {
	color: var(--brand-colour2);
	text-transform: capitalize;
}

h3 {
	color: var(--brand-colour3);
	text-transform: uppercase;
}

h4 {
	color: var(--brand-colour4);
}

h5 {
	color: var(--brand-colour5);
	text-transform: capitalize;
}

p {
	color: var(--brand-colour4);
	font-family: "Cambay", sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

img {
	border-radius: 10px;
}

ul {
	list-style: none;
}

li {
	margin: 0px;
}

i {
	color: var(--brand-colour1);
}

hr {
	border: 10px solid #a5a0f8;
}

.hero {
	padding-top: 100px;
	padding: 30px;
	background-color: var(--background-colour-secondary);
}

.row {
	background-color: var(--background-colour-secondary);
}

.navbar-brand {
	border-color: var(--brand-colour1);
}

.img-thumbnail {
	max-height: 70px;
}

.text-muted {
	float: left;
}

a.navbar-brand {
	color: var(--background-colour-secondary);
}

a.navbar-brand:hover {
	color: var(--background-colour-secondary);
}

a.nav-link {
	color: var(--background-colour-secondary);
	text-align: right;
}
a.nav-link:hover {
	color: var(--brand-colour3);
	text-transform: scale(2);
}

a.youtube-icon {
	color: var(--brand-colour2);
}

a.instagram-icon {
	color: var(--brand-colour2);
}

a.linkedin-icon {
	color: var(--brand-colour2);
}

a.facebook-icon {
	color: var(--brand-colour2);
}

a.tiktok-icon {
	color: var(--brand-colour2);
}

a.github-icon {
	color: var(--brand-colour2);
}

button.btn-outline-secondary {
	background-color: var(--brand-colour2);
	color: white;
	border: 2px var(--brand-colour3);
	padding: 20px 30px;
	border-radius: 10px;
}

button.btn-outline-secondary:hover {
	background-color: var(--brand-colour5);
	color: white;
	border: 2px var(--brand-colour3);
	padding: 20px 30px;
	border-radius: 10px;
}

footer div.container {
	padding: 25px;
}

hr.footer-line {
	margin: 20px;
}

h1.h1-hero {
	color: var(--brand-colour1);
	font-size: 40px;
}

h2.h2-hero {
	color: var(--brand-colour2);
	font-size: 20px;
}

h3.h3-hero {
	color: var(--brand-colour3);
	font-size: 17;
}

h4.h4-hero {
	color: var(--brand-colour4);
	font-size: 15;
}

h5.h5-hero {
	color: var(--brand-colour1);
	font-size: 13px;
	margin-top: 0px;
}

p.p-hero {
	color: var(--brand-colour4);
	font-family: "Cambay", sans-serif;
	font-size: 14px;
	line-height: 1.6;
}

h4.h4-work {
	color: var(--brand-colour4);
}

h2.card-name {
	color: var(--brand-colour2);
}

i.fa-brands {
	color: var(--brand-colour1);
}

li.footer-icon {
	display: inline;
	float: right;
	padding-left: 15px;
}

div.brandcolor2 {
	background-color: var(--brand-colour2);
}

nav.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

div.work {
	background-color: var(--background-colour-primary);
}
